{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "useTabs": false,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "endOfLine": "lf"
}
