.loginContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 400px;
    box-shadow: 5px 5px 20px rgb(204, 204, 204);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .image {
      display: flex;
      justify-content: center;
    }

    .passwordBtn {
      cursor: pointer;
    }

    .inputs {
      margin-top: 20px;

      gap: 10px;
    }
  }
}
