@import "tailwindcss";

/* OR this if you only need utilities */

@theme {
  /* Primary shades */
  --color-primary-50: #e8ecff;
  --color-primary-100: #ccd4ff;
  --color-primary-200: #b3bfff;
  --color-primary-300: #9af;
  --color-primary-400: #8095ff;
  --color-primary-500: #6275d3; /* main primary */
  --color-primary-600: #5160b4;
  --color-primary-700: #414b95;
  --color-primary-800: #313676;
  --color-primary-900: #16214f; /* darkest primary */

  /* Secondary shades */
  --color-secondary-50: #f3f5ff;
  --color-secondary-100: #dce2ff;
  --color-secondary-200: #c6cfff;
  --color-secondary-300: #afbcff;
  --color-secondary-400: #98a9ff;
  --color-secondary-500: #6275d3; /* main secondary */
  --color-secondary-600: #5160b4;
  --color-secondary-700: #414b95;
  --color-secondary-800: #313676;
  --color-secondary-900: #16214f;

  /* Light */
  --color-light: #6275d3;
}
