name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Install Dependencies
        run: npm ci

      - name: Run LInter
        run: npm run lint:eslint

      - name: Run Prettier
        run: npm run format:check

      - name: Run test coverage
        run: npm run test:coverage
        env:
          PORT: ${{secrets.PORT}}
          BACKEND_URL: ${{secrets.BACKEND_URL}}
          VITE_ENV: ${{vars.VITE_ENV}}

  production:
    needs: test
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22.21.1"

      - name: Install Dependencies
        run: npm ci

      - name: Build Application
        run: npm run build
        env:
          PORT: ${{secrets.PORT}}
          BACKEND_URL: ${{secrets.BACKEND_URL}}
          VITE_ENV: ${{vars.VITE_ENV}}
      - name: Upload Production Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist
